[submodule "Atom/Vendor/spdlog"]
	path = Atom/Vendor/spdlog
	url = https://github.com/cpp-engine-forks/spdlog.git
[submodule "Atom/Vendor/glfw"]
	path = Atom/Vendor/glfw
	url = https://github.com/cpp-engine-forks/glfw.git
[submodule "Atom/Vendor/glm"]
	path = Atom/Vendor/glm
	url = https://github.com/cpp-engine-forks/glm.git
[submodule "Atom/Vendor/imgui"]
	path = Atom/Vendor/imgui
	url = https://github.com/cpp-engine-forks/imgui.git
	branch = docking
[submodule "Atom/Vendor/yaml-cpp"]
	path = Atom/Vendor/yaml-cpp
	url = https://github.com/cpp-engine-forks/yaml-cpp.git
[submodule "Atom/Vendor/ImGuizmo"]
	path = Atom/Vendor/ImGuizmo
	url = https://github.com/cpp-engine-forks/ImGuizmo.git
[submodule "Atom/Vendor/Box2D"]
	path = Atom/Vendor/Box2D
	url = https://github.com/cpp-engine-forks/box2d.git
